/* PRODUCT CHILD OVERVIEW */
.comp_product_child_overview .row--image {
  text-align: center;
  margin-bottom: 81px;
}
.comp_product_child_overview .row--image .img_wrap {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 652px;
}
.comp_product_child_overview .row--image .img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.comp_product_child_overview .row--heading {
  margin-bottom: 92px;
}
.comp_product_child_overview .row--heading .description {
  max-width: 1230px;
}
.comp_product_child_overview .feature__text_list {
  width: 100%;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
.comp_product_child_overview .feature__text_list li {
  position: relative;
  width: calc(50% - 17px);
  color: var(--color4);
  padding-left: 41px;
  border-bottom: 1px solid #C1CDD6;
  padding-bottom: 20px;
  margin-bottom: 21px;
}
.comp_product_child_overview .feature__text_list li:before {
  position: absolute;
  content: "";
  top:6px;
  left: 0;
  width: 8px;
  height: 8px;
  background: var(--color1);
}
.comp_product_child_overview .feature__text_list li:nth-child(even) {
  margin-left: auto;
}
@media all and (max-width: 1832px) {
  .comp_product_child_overview .row--image .img_wrap {
    height: 37vw;
  }
}
@media all and (max-width: 767px) {
  .comp_product_child_overview .row--image {
    margin-bottom: 50px;
  }
  .comp_product_child_overview .row--image .img_wrap {
    height: 55vw;
  }
}
@media all and (max-width: 767px) {
  .comp_product_child_overview .row--image {
    margin-bottom: 30px;
  }
  .comp_product_child_overview .row--image .img_wrap {
    height: 70vw;
  }
  .comp_product_child_overview .row--heading {
    margin-bottom: 50px;
  }
  .comp_product_child_overview .feature__text_list li {
    padding-bottom: 10px;
    padding-left: 5vw;
    margin-bottom: 10px;
    font-size: 16px;
  }
}
@media all and (max-width: 480px) {
  .comp_product_child_overview .feature__text_list li {
    width: calc(50% - 10px);
    font-size: 15px;
    line-height: 1.2;
    padding-left: 16px
  }
  .comp_product_child_overview .feature__text_list li:before {
    width: 6px;
    height: 6px;
    top: 4px;
  }
}